.wrapper {
  display: flex;
  height: 600px;
  justify-content: space-around; /* move along main axis, horizontal axis */
  align-items: center; /* move along cross axis, vertical axis*/
}

.box {
  background-color: blueviolet;
  width: 200px;
  height: 200px;
  margin-bottom: 2px;
}
