.wrapper {
  display: flex;
  height: 2000px;
  flex-direction: row;
  justify-content: space-around; /* move along main axis, horizontal axis */
  flex-wrap: wrap;
  align-content: space-between;
}

.box {
  background-color: blueviolet;
  width: 500px;
  height: 500px;
  margin-bottom: 2px;
}
